force-app/main/default/flows/AIDocVerifyOneFile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_Classify</name>
        <label>Run Classify</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>AIDocClassifyFile</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Run_Sanity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:File</name>
            <value>
                <elementReference>Get_File</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:expectedCategory</name>
            <value>
                <elementReference>categoryName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AIDocClassifyFile</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Run_Sanity</name>
        <label>Run Sanity</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>AIDocSanityCheck</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Set_Outputs</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:File</name>
            <value>
                <elementReference>Get_File</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:categoryName</name>
            <value>
                <elementReference>categoryName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:expectedPartyName</name>
            <value>
                <elementReference>expectedPartyName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:partyType</name>
            <value>
                <elementReference>partyType</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AIDocSanityCheck</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Outputs</name>
        <label>Set Outputs</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>verdictLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Run_Classify.promptResponse</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sanityLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Run_Sanity.promptResponse</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Subflow: runs Classify and Sanity AI prompts for a single file and returns the result lines.</description>
    <environments>Default</environments>
    <interviewLabel>AI Doc Verify One File {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AI Doc Verify One File</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_File</name>
        <label>Get File</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Run_Classify</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fileContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_File</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>fileContentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>categoryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>expectedPartyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partyType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>verdictLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sanityLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
