force-app/main/default/flows/AIDocCoverageReview.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_Coverage_Check</name>
        <label>Run Coverage Check</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>AIDocCoverageCheck</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Files</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>applicationId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AIDocCoverageCheck</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Split_Row</name>
        <label>Split Row</label>
        <locationX>264</locationX>
        <locationY>520</locationY>
        <actionName>AIDocSplitFileRow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Call_Verify_Subflow</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>encodedRow</name>
            <value>
                <elementReference>Loop_Files</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AIDocSplitFileRow</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Merge_Json</name>
        <label>Merge JSON</label>
        <locationX>176</locationX>
        <locationY>780</locationY>
        <actionName>AIDocMergeJsonItems</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Call_Email_Prompt</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>classificationJsonStrings</name>
            <value>
                <elementReference>classificationJsonList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sanityJsonStrings</name>
            <value>
                <elementReference>sanityJsonList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AIDocMergeJsonItems</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Call_Email_Prompt</name>
        <label>Call Email Prompt</label>
        <locationX>176</locationX>
        <locationY>820</locationY>
        <actionName>AIDocBorrowerEmail</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Save_Email_Template</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Result</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:borrowerName</name>
            <value>
                <elementReference>Run_Coverage_Check.borrowerName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:coverageJson</name>
            <value>
                <elementReference>Run_Coverage_Check.coverageJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:verdictsText</name>
            <value>
                <elementReference>Merge_Json.classificationMergedJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:sanityFindingsText</name>
            <value>
                <elementReference>Merge_Json.sanityMergedJson</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AIDocBorrowerEmail</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Save_Email_Template</name>
        <label>Save Email Template</label>
        <locationX>176</locationX>
        <locationY>880</locationY>
        <actionName>AIDocWriteEmailTemplate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Show_Result</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Result</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>applicationId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailText</name>
            <value>
                <elementReference>Call_Email_Prompt.promptResponse</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AIDocWriteEmailTemplate</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Append_Verdict</name>
        <label>Append Verdict</label>
        <locationX>264</locationX>
        <locationY>700</locationY>
        <assignmentItems>
            <assignToReference>classificationJsonList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Call_Verify_Subflow.verdictLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sanityJsonList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Call_Verify_Subflow.sanityLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Files</targetReference>
        </connector>
    </assignments>
    <description>AI Doc — Coverage Review: counts filled vs missing document categories on an Application and displays an AI-written report.</description>
    <environments>Default</environments>
    <interviewLabel>AI Doc Coverage Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AI Doc Coverage Review</label>
    <loops>
        <name>Loop_Files</name>
        <label>Loop Files</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>Run_Coverage_Check.encodedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Split_Row</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Merge_Json</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Show_Result</name>
        <label>Show Result</label>
        <locationX>176</locationX>
        <locationY>1070</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AI_Review_Dashboard</name>
            <extensionName>c:aiDocumentReview</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>coverageJson</name>
                <value>
                    <elementReference>Run_Coverage_Check.coverageJson</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>classificationJson</name>
                <value>
                    <elementReference>Merge_Json.classificationMergedJson</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sanityJson</name>
                <value>
                    <elementReference>Merge_Json.sanityMergedJson</elementReference>
                </value>
            </inputParameters>
            <styleProperties>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_Coverage_Check</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Verify_Subflow</name>
        <label>Verify One File</label>
        <locationX>264</locationX>
        <locationY>620</locationY>
        <connector>
            <targetReference>Append_Verdict</targetReference>
        </connector>
        <flowName>AIDocVerifyOneFile</flowName>
        <inputAssignments>
            <name>categoryName</name>
            <value>
                <elementReference>Split_Row.categoryName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>expectedPartyName</name>
            <value>
                <elementReference>Split_Row.partyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fileContentDocumentId</name>
            <value>
                <elementReference>Split_Row.fileContentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>partyType</name>
            <value>
                <elementReference>Split_Row.partyType</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>classificationJsonList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sanityJsonList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
