force-app/main/default/flows/AIDocIntakeCategoryMap.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_Category_Mapper</name>
        <label>Run Category Mapper</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>AIDocIntakeCategoryMapper</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Set_Output</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:filesJson</name>
            <value>
                <elementReference>filesJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:categoriesJson</name>
            <value>
                <elementReference>categoriesJson</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AIDocIntakeCategoryMapper</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Output</name>
        <label>Set Output</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>mappingJson</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Run_Category_Mapper.promptResponse</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Invokes the AI Doc Intake Category Mapper prompt for split output files and application category context.</description>
    <environments>Default</environments>
    <interviewLabel>AI Doc Intake Category Map {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AI Doc Intake Category Map</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_Category_Mapper</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>filesJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>categoriesJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mappingJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
