force-app/main/default/flows/AIDocSplitClassifySpike.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_Classify</name>
        <label>Run Classify</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>AIDocSplitClassify</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Set_Output</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:File</name>
            <value>
                <elementReference>Get_File</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AIDocSplitClassify</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Output</name>
        <label>Set Output</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>segmentsJson</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Run_Classify.promptResponse</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Spike subflow that invokes the AIDocSplitClassify vision prompt for a single ContentDocument and returns the raw JSON segments string. Used by Phase 3 verification only.</description>
    <environments>Default</environments>
    <interviewLabel>AI Doc Split Classify Spike {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AI Doc Split Classify Spike</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_File</name>
        <label>Get File</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Run_Classify</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fileContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_File</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>fileContentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>segmentsJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
