force-app/main/default/flows/AIDocBorrowerEmailDraft.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Email_Prompt</name>
        <label>Call Email Prompt</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>AIDocBorrowerEmailCombined</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Set_Output</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:borrowerName</name>
            <value>
                <elementReference>borrowerName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:coverageJson</name>
            <value>
                <elementReference>coverageJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:verdictsText</name>
            <value>
                <elementReference>verdictsText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:sanityFindingsText</name>
            <value>
                <elementReference>sanityFindingsText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AIDocBorrowerEmailCombined</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Output</name>
        <label>Set Output</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>emailText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Email_Prompt.promptResponse</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Invokes the AI Doc Borrower Email Combined prompt for headless intake review.</description>
    <environments>Default</environments>
    <interviewLabel>AI Doc Borrower Email Draft {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AI Doc Borrower Email Draft</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Call_Email_Prompt</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>borrowerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>coverageJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sanityFindingsText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>verdictsText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
